*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

nav{
  display:flex;
}
button{
  flex-grow:1;
  height:40px;
  background-color: aqua;
}
button:hover, button:active{
  background-color:dodgerblue;
}

main{
  display:flex;
  flex-direction: column;
  min-width: 100%;
  min-height: 100vh;
  justify-content: flex-start;
  align-items: center;
}
tr, td, th{
  border:1px solid #999;
}